<p id="notice"><%= notice %></p>

<h1>Bienvenidos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bienvenidos.each do |bienvenido| %>
      <tr>
        <td><%= bienvenido.name %></td>
        <td><%= bienvenido.usuario %></td>
        <td><%= link_to 'Show', bienvenido %></td>
        <td><%= link_to 'Edit', edit_bienvenido_path(bienvenido) %></td>
        <td><%= link_to 'Destroy', bienvenido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bienvenido', new_bienvenido_path %>
